{% extends "catalog/base.html" %}

{% block title %}
<title>Alphabet Employees</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Alphabet List</h1>
    <div>
        {% for link, str in str_for_links.items %}
            <a href="{% url 'alphabetical-list'%}?letters={{link}}">{{str}}</a>
        {% endfor %}
    </div>
    <div>
        {% for employee in employees%}
            <p><a href="{% url 'employee-detail' employee.pk %}">{{employee}}</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}